* {
  box-sizing: border-box;
  font-family: 'Permanent Marker', cursive;
  }

table th, td {
border: 3px solid black;
text-align: center;
padding: 10px;
}

body {
  background-color: slategray;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
}

body {
  background-color: slategray;
}

/*Mobile*/
@media screen and (min-width: 425px){

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;
}

body {
  background-color: slategray;
}


 
#header {
  display: flex;
  justify-content: center;
  background-color: slategray;
  font-size: 25px;
  text-align: center;
}

div:hover {
  background-color:rgba(0, 0, 0, 0.109);
}

.nav_control {
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
background-color: slategray;
font-size: 20px;
}


#main {
  background-color: slategray;
  font-size: 11px;
  margin: auto;
  padding: 50px;
}


#foot {
  background-color: slategray;
  font-size: 20px;
  padding: 50px;
}

img {
  width: 100%;
  height: auto;
  border: 5px solid black;
}
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 100px auto;
    grid-gap: 3px;
  }
  body {
    background-color: slategray;
  }
  

  #header {
    background-color: slategray;
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    font-size: 30px;
  }
  
  div:hover {
    background-color: rgba(0, 0, 0, 0.109);
  }

  #nav {

    background-color: slategray;
    font-size: 25px;
    text-align: center;
    grid-column: 1 / 4;
    text-decoration-color: white;
  }
  
  #main {
    background-color: slategrey;
    font-size: 25px;
    grid-column: 1 / 4;
    padding: 50px;
  }
  
  
  #foot {
    background-color: slategray;
    font-size: 20px;
    padding: 50px;
  }
  
  img {
    width: 100%;
    height: auto;
    border: 5px solid black;
  }
}

/* laptop */
@media screen and (min-width: 1024px) {
  body {
    background-color: slategray;
  }
  
  #header {
    background-color: slategray;
    text-align: center;
    font-size: 60px;
  }

  div:hover {
    background-color: rgba(0, 0, 0, 0.109);
  }

  #nav {
    background-color: slategray;
    font-size: 50px;
    text-align: center;
    
  }
  
  #main {
    background-color: slategrey;
    font-size: 20px;
    padding: 50px;
  }
  
  
  #foot {
    background-color: slategray;
    font-size: 20px;
    padding: 50px;
  }
  
  img {
    width: 100%;
    height: auto;
    border: 5px solid black;
  }

}