.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
p {
  padding: 10px;
  position: auto;
  background: #ffffff;
  border:1px;
  font-size: 20px;
}
.img {
  position: relative;
  float: auto;
  padding: 1px;
}
p,
article {
  font-size: 20px;
  border: 1px solid black;
}
