#blue {
  color: blue;
}
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 40%
 
}
table, th, td {
border: 2px solid black;
 }