.heading {
  color: darkgreen;
  font-family: Georgia;
  text-align: center;
}
.subhead {
  font-family: Georgia;
  text-align: center;
}
p {
  line-height: 25px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.bottom {
  text-transform: uppercase;
}
img {
  float: left;
  padding: 2%;
}
#lastpara {
  text-align: center;
  color: blue;
}
body {
  background-color: chocolate;
}
div p {
  text-align: center;
}
#ul {
  text-align: left;
}
