#blue {
  color: blue;
}
table, th, td {
  border: 2px solid black;
  text-align: center;
  
}
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 40%
 
}
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: lightsalmon;
}
table {
  margin-left: auto;
  margin-right: auto;
  background-color: yellow;
}
.navbar a {
  float: left;
  padding: 12px;
  background-color: chartreuse;

}