* {
  box-sizing: border-box;
  font-size: 10px;
}

body,
html {
  margin: 0;
  padding: 0;
}
#grid-container {
  display: grid;
  width: 100%;
  padding: px solid white;
  
}

.header {
  background-color: red;
  grid-column: 1 / 2;
}

.main {
  background-color: blue;
  grid-column: 2 / 4;
}

.sidebar {
  background-color: green;
  grid-row: 2 / 1;
}

.sidebar1 {
  background-color: purple;
  grid-row: 2 / 3;
  
  
}

.sidebar2 {
  background-color: yellow;

}