* {
  box-sizing: border-box;
  font-size: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}
.wrapper1 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  background-color: red;
  grid-column: 1 / 5;
}
.two {
  background-color: blue;
  grid-column: 5 / 9;
}
.three {
  background-color: green;
  grid-column: 3 / 1;
}
.four {
  background-color: purple;
  grid-column: 3 / 9;
  grid-row: 2;
}
.five {
  background-color: yellow;
  grid-column: 1 / 9;
  grid-row: 3;
}

.one1 {
  background-color: gray;
  grid-column: 1 / -1;
  
}
.two2 {
  background-color: blue;
  grid-column: 1 / 5;
  grid-row: 2 / 5;
}
.three3 {
  background-color: green;
  grid-column: 5 / 9;
  grid-row: 2 / 4;
}
.four4 {
  background-color: purple;
  grid-column: 5 / 7;
  grid-row: 4 / 5;
}
.five5 {
  background-color: purple;
  grid-column: 7 / 9;
  grid-row: 4;
}
